//! **************************************************************************
// Written by: Map P.20131013 on Thu Jan 09 11:13:14 2020
//! **************************************************************************

SCHEMATIC START;
COMP "led" LOCATE = SITE "U16" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "led" BEL "a_0" BEL "a_1" BEL "a_2" BEL "a_5" BEL
        "a_3" BEL "a_4" BEL "a_6" BEL "a_7" BEL "a_8" BEL "a_9" BEL "a_12" BEL
        "a_10" BEL "a_11" BEL "a_13" BEL "a_14" BEL "a_15" BEL "a_16" BEL
        "a_19" BEL "a_17" BEL "a_18" BEL "a_20" BEL "a_21" BEL "a_22" BEL
        "a_23" BEL "a_26" BEL "a_24" BEL "a_25" BEL "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

