//! **************************************************************************
// Written by: Map P.20131013 on Thu Jan 23 10:57:34 2020
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "RsRx" LOCATE = SITE "N17" LEVEL 1;
COMP "RsTx" LOCATE = SITE "N18" LEVEL 1;
COMP "btnR" LOCATE = SITE "D9" LEVEL 1;
COMP "btnS" LOCATE = SITE "B8" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "sw<7>" LOCATE = SITE "T5" LEVEL 1;
COMP "led<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "led<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "led<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "led<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "led<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "led<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "led<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "led<7>" LOCATE = SITE "T11" LEVEL 1;
PIN uart_top_/tfifo_/Mram_mem_pins<20> = BEL "uart_top_/tfifo_/Mram_mem"
        PINNAME CLKAWRCLK;
PIN uart_top_/tfifo_/Mram_mem_pins<21> = BEL "uart_top_/tfifo_/Mram_mem"
        PINNAME CLKBRDCLK;
TIMEGRP sys_clk_pin = BEL "arst_ff_0" BEL "arst_ff_1" BEL "clk_en" BEL
        "clk_dv_0" BEL "clk_dv_1" BEL "clk_dv_2" BEL "clk_dv_3" BEL "clk_dv_4"
        BEL "clk_dv_5" BEL "clk_dv_6" BEL "clk_dv_7" BEL "clk_dv_8" BEL
        "clk_dv_9" BEL "clk_dv_10" BEL "clk_dv_11" BEL "clk_dv_12" BEL
        "clk_dv_13" BEL "clk_dv_14" BEL "clk_dv_15" BEL "clk_dv_16" BEL
        "inst_wd_0" BEL "inst_wd_1" BEL "inst_wd_2" BEL "inst_wd_3" BEL
        "inst_wd_4" BEL "inst_wd_5" BEL "inst_wd_6" BEL "inst_wd_7" BEL
        "clk_en_d" BEL "step_d_0" BEL "step_d_1" BEL "step_d_2" BEL
        "inst_cnt_0" BEL "inst_cnt_1" BEL "inst_cnt_2" BEL "inst_cnt_3" BEL
        "inst_cnt_4" BEL "inst_cnt_5" BEL "inst_cnt_6" BEL "inst_cnt_7" BEL
        "uart_top_/tx_data_15" BEL "uart_top_/tx_data_14" BEL
        "uart_top_/tx_data_13" BEL "uart_top_/tx_data_12" BEL
        "uart_top_/tx_data_11" BEL "uart_top_/tx_data_10" BEL
        "uart_top_/tx_data_9" BEL "uart_top_/tx_data_8" BEL
        "uart_top_/tx_data_7" BEL "uart_top_/tx_data_6" BEL
        "uart_top_/tx_data_5" BEL "uart_top_/tx_data_4" BEL
        "uart_top_/tx_data_3" BEL "uart_top_/tx_data_2" BEL
        "uart_top_/tx_data_1" BEL "uart_top_/tx_data_0" BEL
        "uart_top_/tfifo_rd_z" BEL "uart_top_/state_2" BEL "uart_top_/state_1"
        BEL "uart_top_/state_0" BEL "uart_top_/uart_/tx_bits_remaining_3" BEL
        "uart_top_/uart_/tx_bits_remaining_2" BEL
        "uart_top_/uart_/tx_bits_remaining_1" BEL
        "uart_top_/uart_/tx_bits_remaining_0" BEL
        "uart_top_/uart_/tx_countdown_5" BEL "uart_top_/uart_/tx_countdown_4"
        BEL "uart_top_/uart_/tx_countdown_3" BEL
        "uart_top_/uart_/tx_countdown_2" BEL "uart_top_/uart_/tx_countdown_1"
        BEL "uart_top_/uart_/tx_countdown_0" BEL
        "uart_top_/uart_/tx_clk_divider_4" BEL
        "uart_top_/uart_/tx_clk_divider_3" BEL
        "uart_top_/uart_/tx_clk_divider_2" BEL
        "uart_top_/uart_/tx_clk_divider_1" BEL
        "uart_top_/uart_/tx_clk_divider_0" BEL "uart_top_/uart_/tx_state_1"
        BEL "uart_top_/uart_/tx_state_0" BEL "uart_top_/uart_/tx_data_7" BEL
        "uart_top_/uart_/tx_data_6" BEL "uart_top_/uart_/tx_data_5" BEL
        "uart_top_/uart_/tx_data_4" BEL "uart_top_/uart_/tx_data_3" BEL
        "uart_top_/uart_/tx_data_2" BEL "uart_top_/uart_/tx_data_1" BEL
        "uart_top_/uart_/tx_data_0" BEL "uart_top_/tfifo_/rp_9" BEL
        "uart_top_/tfifo_/rp_8" BEL "uart_top_/tfifo_/rp_7" BEL
        "uart_top_/tfifo_/rp_6" BEL "uart_top_/tfifo_/rp_5" BEL
        "uart_top_/tfifo_/rp_4" BEL "uart_top_/tfifo_/rp_3" BEL
        "uart_top_/tfifo_/rp_2" BEL "uart_top_/tfifo_/rp_1" BEL
        "uart_top_/tfifo_/rp_0" BEL "uart_top_/tfifo_/wp_9" BEL
        "uart_top_/tfifo_/wp_8" BEL "uart_top_/tfifo_/wp_7" BEL
        "uart_top_/tfifo_/wp_6" BEL "uart_top_/tfifo_/wp_5" BEL
        "uart_top_/tfifo_/wp_4" BEL "uart_top_/tfifo_/wp_3" BEL
        "uart_top_/tfifo_/wp_2" BEL "uart_top_/tfifo_/wp_1" BEL
        "uart_top_/tfifo_/wp_0" BEL "uart_top_/tfifo_/fifo_empty" BEL
        "uart_top_/tfifo_/fifo_full" BEL "uart_top_/tfifo_/fifo_cnt_9" BEL
        "uart_top_/tfifo_/fifo_cnt_8" BEL "uart_top_/tfifo_/fifo_cnt_7" BEL
        "uart_top_/tfifo_/fifo_cnt_6" BEL "uart_top_/tfifo_/fifo_cnt_5" BEL
        "uart_top_/tfifo_/fifo_cnt_4" BEL "uart_top_/tfifo_/fifo_cnt_3" BEL
        "uart_top_/tfifo_/fifo_cnt_2" BEL "uart_top_/tfifo_/fifo_cnt_1" BEL
        "uart_top_/tfifo_/fifo_cnt_0" BEL "seq_/rf_/rf_3_63" BEL
        "seq_/rf_/rf_3_62" BEL "seq_/rf_/rf_3_61" BEL "seq_/rf_/rf_3_60" BEL
        "seq_/rf_/rf_3_59" BEL "seq_/rf_/rf_3_58" BEL "seq_/rf_/rf_3_57" BEL
        "seq_/rf_/rf_3_56" BEL "seq_/rf_/rf_3_55" BEL "seq_/rf_/rf_3_54" BEL
        "seq_/rf_/rf_3_53" BEL "seq_/rf_/rf_3_52" BEL "seq_/rf_/rf_3_51" BEL
        "seq_/rf_/rf_3_50" BEL "seq_/rf_/rf_3_49" BEL "seq_/rf_/rf_3_48" BEL
        "seq_/rf_/rf_3_47" BEL "seq_/rf_/rf_3_46" BEL "seq_/rf_/rf_3_45" BEL
        "seq_/rf_/rf_3_44" BEL "seq_/rf_/rf_3_43" BEL "seq_/rf_/rf_3_42" BEL
        "seq_/rf_/rf_3_41" BEL "seq_/rf_/rf_3_40" BEL "seq_/rf_/rf_3_39" BEL
        "seq_/rf_/rf_3_38" BEL "seq_/rf_/rf_3_37" BEL "seq_/rf_/rf_3_36" BEL
        "seq_/rf_/rf_3_35" BEL "seq_/rf_/rf_3_34" BEL "seq_/rf_/rf_3_33" BEL
        "seq_/rf_/rf_3_32" BEL "seq_/rf_/rf_3_31" BEL "seq_/rf_/rf_3_30" BEL
        "seq_/rf_/rf_3_29" BEL "seq_/rf_/rf_3_28" BEL "seq_/rf_/rf_3_27" BEL
        "seq_/rf_/rf_3_26" BEL "seq_/rf_/rf_3_25" BEL "seq_/rf_/rf_3_24" BEL
        "seq_/rf_/rf_3_23" BEL "seq_/rf_/rf_3_22" BEL "seq_/rf_/rf_3_21" BEL
        "seq_/rf_/rf_3_20" BEL "seq_/rf_/rf_3_19" BEL "seq_/rf_/rf_3_18" BEL
        "seq_/rf_/rf_3_17" BEL "seq_/rf_/rf_3_16" BEL "seq_/rf_/rf_3_15" BEL
        "seq_/rf_/rf_3_14" BEL "seq_/rf_/rf_3_13" BEL "seq_/rf_/rf_3_12" BEL
        "seq_/rf_/rf_3_11" BEL "seq_/rf_/rf_3_10" BEL "seq_/rf_/rf_3_9" BEL
        "seq_/rf_/rf_3_8" BEL "seq_/rf_/rf_3_7" BEL "seq_/rf_/rf_3_6" BEL
        "seq_/rf_/rf_3_5" BEL "seq_/rf_/rf_3_4" BEL "seq_/rf_/rf_3_3" BEL
        "seq_/rf_/rf_3_2" BEL "seq_/rf_/rf_3_1" BEL "seq_/rf_/rf_3_0" BEL
        "inst_vld" BEL "uart_top_/uart_/tx_out" BEL "clk_BUFGP/BUFG" PIN
        "uart_top_/tfifo_/Mram_mem_pins<20>" PIN
        "uart_top_/tfifo_/Mram_mem_pins<21>";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

