//! **************************************************************************
// Written by: Map P.20131013 on Mon Feb 17 22:40:09 2020
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "pause" LOCATE = SITE "B8" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "digit<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "digit<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "digit<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "digit<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "reset" LOCATE = SITE "A8" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "rst_d/count_15" BEL "rst_d/count_14" BEL
        "rst_d/count_13" BEL "rst_d/count_12" BEL "rst_d/count_11" BEL
        "rst_d/count_10" BEL "rst_d/count_9" BEL "rst_d/count_8" BEL
        "rst_d/count_7" BEL "rst_d/count_6" BEL "rst_d/count_5" BEL
        "rst_d/count_4" BEL "rst_d/count_3" BEL "rst_d/count_2" BEL
        "rst_d/count_1" BEL "rst_d/count_0" BEL "pause_d/count_15" BEL
        "pause_d/count_14" BEL "pause_d/count_13" BEL "pause_d/count_12" BEL
        "pause_d/count_11" BEL "pause_d/count_10" BEL "pause_d/count_9" BEL
        "pause_d/count_8" BEL "pause_d/count_7" BEL "pause_d/count_6" BEL
        "pause_d/count_5" BEL "pause_d/count_4" BEL "pause_d/count_3" BEL
        "pause_d/count_2" BEL "pause_d/count_1" BEL "pause_d/count_0" BEL
        "divider/prescaler_display_15" BEL "divider/prescaler_display_14" BEL
        "divider/prescaler_display_13" BEL "divider/prescaler_display_12" BEL
        "divider/prescaler_display_11" BEL "divider/prescaler_display_10" BEL
        "divider/prescaler_display_9" BEL "divider/prescaler_display_8" BEL
        "divider/prescaler_display_7" BEL "divider/prescaler_display_6" BEL
        "divider/prescaler_display_5" BEL "divider/prescaler_display_4" BEL
        "divider/prescaler_display_3" BEL "divider/prescaler_display_2" BEL
        "divider/prescaler_display_1" BEL "divider/prescaler_display_0" BEL
        "display/digit_posn_1" BEL "display/digit_posn_0" BEL
        "display/digit_3" BEL "display/digit_2" BEL "display/digit_1" BEL
        "display/digit_0" BEL "display/digit_data_3" BEL
        "display/digit_data_2" BEL "display/digit_data_1" BEL
        "display/digit_data_0" BEL "display/decoder/seg_6" BEL
        "display/decoder/seg_5" BEL "display/decoder/seg_4" BEL
        "display/decoder/seg_3" BEL "display/decoder/seg_2" BEL
        "display/decoder/seg_1" BEL "display/decoder/seg_0" BEL
        "timer_seq/sec_ones_clock" BEL "rst_d/state" BEL "pause_d/state" BEL
        "divider/clk_display" BEL "timer_seq/pause_state" BEL
        "timer_seq/min_ones_clock" BEL "display/prescaler_18" BEL
        "display/prescaler_17" BEL "display/prescaler_16" BEL
        "display/prescaler_15" BEL "display/prescaler_14" BEL
        "display/prescaler_13" BEL "display/prescaler_12" BEL
        "display/prescaler_11" BEL "display/prescaler_10" BEL
        "display/prescaler_9" BEL "display/prescaler_8" BEL
        "display/prescaler_7" BEL "display/prescaler_6" BEL
        "display/prescaler_5" BEL "display/prescaler_4" BEL
        "display/prescaler_3" BEL "display/prescaler_2" BEL
        "display/prescaler_1" BEL "display/prescaler_0" BEL "clk_BUFGP/BUFG"
        BEL "rst_d/Mshreg_sync_1" BEL "rst_d/sync_1" BEL
        "pause_d/Mshreg_sync_1" BEL "pause_d/sync_1";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

